/*---FOR ALL---*/

body{
  margin: 0 auto;
  font-family: 'Open Sans', Courier, monospace;
  text-align: left;
  overflow-x: hidden;
  flex-wrap: wrap;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

#button{
  border: none;
}

.container{
  width: 100%;
  
  
}

/*---Header---*/

.header{
  width:100%;
  background-color: #ffdc00;
  position: absolute;
  height:100px;
  padding-top: 6px;
}

.headerRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.logoTextFirst{
  text-transform: uppercase;
  font-size: 30px;
  color: #333333;
  letter-spacing: 2px;
}

.logoTextFirst1{
  font-weight: 700;
}

.logoTextFirst2{
  font-weight: 300;
}

.logoTextSecond{
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.4px;
  color: #6f6f6f;
  text-transform: uppercase;
}

.callNumber{
  font-size:16px;
  font-weight: 700;
  letter-spacing: 1px;
  color:#333333;
  margin-top: 10px;
}

.buttonCall{
  background: #333333;
  border-radius: 8px;
  color: #ffffff;
  height: 40px;
  width: 170px; 

}
.requestCall{
  text-align: right;
  display: flex;
  flex-direction: column;
}
.rightColumn img.rev{
  width: 80%;
}
.rightColumn img.price{
  margin-left: 100px;
}
/*---MAIN PAGE---*/

.mainPage{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
  background: url('./img/background.png')  no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.9);
}

.rightColumn{
  display: flex;
  flex-direction: column;
}
.price{
  width: 45%;
  margin-left: 120px;
}

.leftColumn{
  display: block; 
  margin: 0 100px;
  padding-top: 100px;
}
.leftColumn h1{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#ffffff;
}
.leftColumn p{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #ffffff;
}

#bigText{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 70px;
}
#bigTextWhite{
  color:#ffffff;
}
.bigTextYellow{
  color: #ffdc00;
}
#smallText{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.4px;
}
.smallTextYellow{
  color: #ffdc00;
}
.smallTextWhite{
  color: #ffffff;
  font-weight: 300;
}
.countdown{
  display: flex;
  justify-content: flex-start;
}
.countdownElipse{
  display: flex;
  color: #333333;
  font-weight: 700;
  font-size: 60px;
 
}
.countdownNumber{ 
  background: #333333;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size:50px;
}
.buttonOrder{
  background-color: #ffdc00;
  width: 250px;
  height: 65px;
  border-radius: 8px;
  margin: 30px 0px;
  color: #333333;
  font-weight: 700;
  font-size: 23px;
  box-shadow: 0 3px 0 #b9a000;

}

/*---MAIN CHARACTERISTICS---*/
.mainCharacteristics{
  display: block;
  width: 100%;
  padding: 0 100px;
}

h2{
  text-align:center;
  font-size: 27px;
  font-weight: 600;
}
.bigYellowLine{
  height: 2px;
  width: 280px;
  background-color: #ffdc00;
  margin: 35px auto;
}
.littleYellowLine{
  height: 2px;
  width: 80px;
  background-color: #ffdc00;
  margin: 35px 0;
}
.blockChar{
  display: flex;
  justify-content: space-around;
}

.blockCharFirst1{
  width: 50%;
  line-height: 2.8;
  display: flex;
  flex-direction: column;

}
.blockCharFirst2{
  width: 25%;
  line-height: 2.8;
  display: flex;
  flex-direction: column;
}
.blockCharFirst3{
  width: 25%;
  align-items: center;
  
}
.blockCharSecond1{
  width: 50%;
  line-height: 2.8;
  display: flex;
  flex-direction: column;
}
.blockCharSecond2{
  width: 25%;
  line-height: 2.8;
  display: flex;
  flex-direction: column;
}
.blockCharSecond3{
  width: 25%;
}
.blockCharThird1{
  width: 62%;
  display: flex;
  flex-direction: column;
}
.blockCharThird2{
  width: 62%;
  display: flex;
}
.blockChar.Th{
  text-align: left; 
}
.blockCharThird2 img{
  margin-left: 120px;
  width: 100%;
  height: 55%;
}
.blockCharSecond3 img{
  width: 130%;
}
.blockCharBText{
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-align: left;
  color: #333333;
}
.blockCharSText{
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.35px;
  color: #9a9a9a;
  margin-top: 8px;
  line-height: 2.5;
}

.reasonBuy{
  display: flex;
  justify-content: space-around;
  align-items: baseline;

}
.reasonBlock{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.yellowText{
  color: #ffdc00;
  font-weight: 700;
  font-size:15px;
}
span.yellowText1{
  color: #ffdc00;
  font-weight: 700;
  font-size:15px;
  margin: 10px auto;
}
.Text{
  font-size: 15px;
  color: #a39696;
  align-items: baseline;
}
.textText{
  
  font-size: 15px;
  font-weight: 600;
}
.save{
  display: flex;
  justify-content: space-between;
}
.girl{
  width:100%;
}
.broken{
  width:47%;
}
.broken1{
  width:47%;
}
.rev1{
  width:100%;
}
.stand1{
  width:100%;
}
.brokenBamper{
  display: flex;
  justify-content: space-between;
}
.howSave{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 100px;
}

.feedBackBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  padding: 30px 150px;
}
.feedBackBlock div{
  margin: 20px;
}
.feedPhoto{
  display: flex;
  padding-left: 55%;
  align-items: center;

}
.feedPhoto img{
  border-radius: 50%;
}
.feedPhoto span span i{
  color: lightgrey; 
}
.warrantRow{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align:center;
  margin-top: 50px;
}
.warrantRow div{
  display: flex;
  flex-direction: column;
}

.delivery{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: left;
  letter-spacing: -0.5px;
  margin-top: 50px;
  padding: 30px 100px;
}
.warrantRow div{
  align-items: center;
}


.form{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.formLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plusPosition{
  display: flex;
  justify-content: flex-end;
}
.pricePosition{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invertedImage{
  transform: rotateX(180deg);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input{
  background-color: white;
  display: block;
  margin: 10px 0;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  padding-left: 10px;
}
.buttonPosition{
  padding-left: 70px;

}
footer div{
  height: 100px;
  background: #333333;
}
.mirrow-plus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.mirrow-plus img:nth-child(1) {
  transform: scale(-1, 1);
}
.text1{
  font-size: 18px;
  font-weight: 700;
}
.girl img{
  margin-top: 30px;
  margin-bottom: 20px;
}
.feedPhoto span span{
  font-style: italic;
  color: grey;
  opacity: 0.3;
}
.feedPhoto span{
  font-weight: bolder;
}
.warrantyDelivery{
  padding: 90px 100px;
}
.mainReason{
  padding: 30px 100px;
}
.howWork{
  padding: 30px 100px;
}
.feedBack{
  margin-top: 80px;
}
.invertedImage img{
  width: 90%;

}
.pricePosition div img{
  position: relative;

}
.orderForm{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}
.orderForm span{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.videoDemonstration{
  display: flex;
  justify-content: center;
}
.videoDemonstration video{
  width: 93%;
  height: 50%;
}

div.warrantyDelivery ul li{
  font-style: italic;
}
div.delivery div ul li{
  font-style: italic;
}
div.warrantyDelivery span{
  font-style: italic;
}
div.leftColumn h1 div span.bigTextYellow{
  display: flex;
  flex-direction: column;
}
div.leftColumn p{
  display: flex;
  flex-direction: column;
}
span.smallTextYellow span{
  color: white;
}
div.reasonBlock div span.yellowText1{
  display: flex;
  flex-direction: column;
}
.bamperRepair{
  display: flex;
  flex-direction: column;
}
span.yellowText span{
  color: black;
}
.priceWithGift{
  display: flex;
  flex-direction: column;
}
span.textText span{
  color: black;
}
span.smallTextYellow span.one{
  display:flex;
  color: #ffdc00;
}
div.leftColumn div span{
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
}
div.leftColumn div span.bigTextYellow{
  color: #ffdc00;
}
.formRight{
  margin-right: 200px;
}

@media (max-width: 900px){
  div.leftColumn button.buttonOrder{
    margin-left: 250px;
  }
  .orderForm{
    flex-wrap:wrap;
  }
  .container{
    width: 100%;
    flex-wrap: wrap;

  }

  .header{
    width: 100%;
 
  }
  .mainCharacteristics .img{
    width: 100%;
  }
  .mainCharacteristics .img1{
    width: 50%;
    height: 40%;
    margin-left: 100px;
  }
  .requestCall{
    margin-right: 75px;
    }
  .mainPage{
    height: 100%;
    overflow-x: hidden;
  }
  .leftColumn{
    margin: 0 0;
  }
  .rightColumn img{
    width: 40%;
  }
  .rightColumn img.rev{
    width: 70%;
  }
  .feedPhoto{
    padding-left: 40%;

  }
  .warrantRow{
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
  }
  .delivery{
    padding: 30px 70px;
  }
  .rightColumn{
    display:flex;
    justify-content: flex-end;
  }
  .feedBackBlock{
  flex-wrap: wrap;
  }
  .girl{
    width:100%;
  }
  .broken{
    width:48%;
  }
  .broken1{
    width:48%;
  }
  .rev1{
    width:80%;
  }
  .stand1{
    width:80%;
  }
  img.leftArr {
    display:none;
  }
  img.rightArr{
    display:none;
  }
  img.carNumber{
    align-items: center;
  }
  .formRight{
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    margin: 0 0 0 0;
  }
  
  .form{
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 600px){
  
  .buttonPosition{
    padding: 0 0 0 0;
  }
  .orderForm{
    text-align: center;
  }
  .formRight{
  padding: 0 0 0 0;
  }
  .body{
    overflow-x: hidden;
  }
  .shopLogo{
    font-size: 10px;
  }
  .headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bigYellowLine{
    width: 40%;
  }
  .requestCall{
    margin-right:0 ;
  }
  .form{
    flex-wrap: wrap;
  }
 
  .feedPhoto{
    padding: 0 0 0 0;
    margin-left: 20px;
  }
  .mainPage{
    flex-wrap: wrap;
    height: 100%;
    overflow-y: hidden;
  }
  .countdown{
    display: flex;
    justify-content: flex-start;
  }
  .countdownElipse{
    display: flex;
    color: #333333;
    font-weight: 700;
    font-size: 50px;
   
  }
  .countdownNumber{ 
    background: #333333;
    color: #fff;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size:30px;
  }
  .leftColumn span{
    font-size: 15px;
  }
  div.leftColumn div span{
    font-size:28px;
  }
  div.leftColumn button.buttonOrder{
    position: absolute;
    margin: 300px 70px;
    width: 50%;
    height: 7%;
  }
  img.rev{
    margin: 0 55px;
    padding-bottom:50px;
  }
  img.price{
    margin: 0 130px;
    width:28%;
    padding-bottom:100px;
    
  }
  .mainCharacteristics{
    flex-wrap: wrap;
    display: flex;
    padding: 0 0 0 0;
  }
  .mainCharacteristics .img1{
    margin-left: 40px;
    width: 70%;
    height: 30%;
  }
  div.blockChar.Fo{
    margin: 0 60px;
  }
  .mainReason{
    padding: 0 0 0 0;
    flex-wrap: wrap;
  }
  .reasonBuy{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .howWork{
    padding: 0 0 0 0;
  }
  .howSave{
    padding: 0 0 0 0 ;
  }
  .save{
    flex-wrap: wrap;
  }
  .feedBackBlock{
    padding: 0 0 0 0;
  }
  .warrantRow{
    margin: 0 0 0 0;
  }
  .delivery{
    display: block;
  }
}








